<!DOCTYPE html>
<html>
<head>
    <title>Student Performance Predictor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<div class="container">
<div class="header">
    <h1>🎓 Student Performance Predictor</h1>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="{{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <p>Predict student marks using Machine Learning</p>
</div>

    <h1>Student Performance Predictor</h1>

    <form method="POST">

        <label>Study Hours</label><br>
        <input
            type="number"
            name="study_hours"
            step="0.1"
            placeholder="Enter study hours"
            value="{{ study_hours }}"
            required
        ><br><br>

        <label>Attendance</label><br>
        <input
            type="number"
            name="attendance"
            step="0.1"
            placeholder="Attendance (%)"
            value="{{ attendance }}"
            required
        ><br><br>

        <label>Assignments Completed</label><br>
        <input
            type="number"
            name="assignments"
            step="1"
            placeholder="Assignments Completed"
            value="{{ assignments }}"
            required
        ><br><br>

        <button
            type="submit"
            onclick="this.disabled=true; this.innerHTML='Predicting...'; this.form.submit();">
            Predict
        </button>

    </form>

    {% if error %}
    <div class="error">
        {{ error }}
    </div>
    {% endif %}

    {% if prediction %}
    <div class="result">
        <h2>Predicted Marks: {{ prediction }}</h2>
        <h2>
        Performance:
        <span class="
        {% if performance == 'Excellent' %}
        excellent
        {% elif performance == 'Very Good' %}
        verygood
        {% elif performance == 'Good' %}
        good
        {% elif performance == 'Average' %}
        average
        {% else %}
        poor
        {% endif %}
        ">
        {{ performance }}
        </span>
        </h2>
    </div>
    {% endif %}

    {% if history %}

    <div class="stats">

        <div class="card">
            <h3>Total Predictions</h3>
            <p>{{ total_predictions }}</p>
        </div>

        <div class="card">
            <h3>Highest Marks</h3>
            <p>{{ highest_marks }}</p>
        </div>

        <div class="card">
            <h3>Average Marks</h3>
            <p>{{ average_marks }}</p>
        </div>

    </div>


    <form method="GET">

        <input
            type="text"
            name="search"
            placeholder="Search prediction history..."
            value="{{ search }}"
        >

        <button type="submit">
            Search
        </button>

    </form>

    <h2>Previous Predictions</h2>

    <table class="history-table">

        <tr>
            <th>ID</th>
            <th>Time</th>
            <th>Study Hours</th>
            <th>Attendance</th>
            <th>Assignments</th>
            <th>Marks</th>
            <th>Performance</th>
        </tr>

        {% for row in history %}

        <tr>
            <td>{{ row.ID }}</td>
            <td>{{ row.Timestamp }}</td>
            <td>{{ row.StudyHours }}</td>
            <td>{{ row.Attendance }}</td>
            <td>{{ row.AssignmentsCompleted }}</td>
            <td>{{ row.PredictedMarks }}</td>
            <td>{{ row.Performance }}</td>
        </tr>

        {% endfor %}

    </table>

    <div class="pagination">

{% if page > 1 %}
<a href="/?page={{ page-1 }}&search={{ search }}">
    <button type="button">Previous</button>
</a>
{% endif %}

<span>Page {{ page }} of {{ total_pages }}</span>

{% if page < total_pages %}
<a href="/?page={{ page+1 }}&search={{ search }}">
    <button type="button">Next</button>
</a>
{% endif %}

</div>

    <h2>Prediction Trend</h2>

    <img
        src="{{ url_for('static', filename='images/prediction_chart.png') }}"
        alt="Prediction Chart"
        class="chart">

    <form action="/clear_history" method="POST">
        <button type="submit" class="clear-btn">
            Clear Prediction History
        </button>
    </form>

    <a href="/download_history">
        <button type="button" class="download-btn">
            Download History
        </button>
    </a>

    {% endif %}

</div>

</body>
</html>